<%- include('partials/header') %>

    <main class="editproducts">
        <h1 class="view-title">Edit Product</h1>


       <form action="/edit<%= product.id %>" method="post">
            <input type="text" name="title"  value ="<%= product.title %>">
            <input type="number" name="price"  value ="<%= product.price %>">
            <textarea name="body"  cols="80" rows="10"><%= product.description %></textarea><br>
            <input type="submit" value="Update" class="btn">    
       </form>
    </main>


<%- include('partials/footer') %>