<%- include('partials/header') %>
<main id="products">
    <%- include('partials/nav') %>
        <div class="all-products">
            <% for(let product of products) { %>
                <div class="each-product">
                    <div class="gallery">
                        <img src="/uploads/<%= product.imageURL %>" alt="">
                    </div>
                    <section>
                        <div class="title">
                            <p>Title:</p><h1><%= product.title %> </h1>
                        </div>
                        <div class="description">
                            <p>Description:</p> <h2><%= product.description %></h2>
                        </div>
                        <div class="price">
                        <p>Price:</p> <h2><%= product.price %>e</h2>
                        </div>
                        <div class="phonenumber">
                        <p>Phone Number:</p>  <h2><%= product.phonenumber %></h2>
                        </div>
                        <div class="location">
                            <p>Location: </p><h2><%= product.location %></h2>
                        </div>
                        <a href="/edit/<%= product.id %>" class="btn">Edit</a>
                        <form action="/delete/<%= product.id %>" method="post" id="delete-form">
                            <input type="submit" class="btn"id="btn1" value ="Delete"></a>
                        </form>
                    </section>
                </div>
                <% } %> 
     </div>

</main>
<%- include('partials/footer') %>