<%- include('partials/header') %>
<main id="products">
    <%- include('partials/nav') %>
        <div class="all-products">
            <% for(let product of products) { %>
                <div class="each-product">
                    <div class="gallery">
                       <%let images = product.imageURLs.slice(2,product.imageURLs.length-2)%>
                        <%let pImages=images.split(',') %>

                        <%pImages.forEach(image=>{%>
                            <img src="/uploads/<%=image%>" alt="">
                        <%})%>
                    </div>
                    <section>
                        <div class="title">
                            <p>Title:</p><h1><%= product.title %> </h1>
                        </div>
                        <div class="description">
                            <p>Description:</p> <h2><%= product.description %></h2>
                        </div>
                        <div class="price">
                        <p>Price:</p> <h2><%= product.price %></h2>
                        </div>
                        <div class="phonenumber">
                        <p>Phone Number:</p>  <h2><%= product.phonenumber %></h2>
                        </div>
                        <div class="location">
                            <p>Location: </p><h2><%= product.location %></h2>
                        </div>
                        <% if(locals.isLoggedIn) { %>
                        <a href="/edit/<%= product.id %>" class="btn-edit">Edit</a><br>
                        <a href="/contact-seller/<%= product.id %>" class="contact-seller">Chat With Seller</a>
                        <form action="/delete/<%= product.id %>" method="post" id="delete-form">
                            <input type="submit" class="btn"id="btn1" value ="Delete"></a>
                        </form>
                        <% }%>
                    </section>
                </div>
                <% } %> 
     </div>

</main>
<%- include('partials/footer') %>